<footer id="footer">
	<div class="footMenu">
		<div class="container">
			{{~#footmenu}}
				<div class="footMenu-item footercookie col-md-3 col-sm-6">
					<h3 class="title-foot">{{title}}</h3>
					<ul>
						{{#list}}
							<li><a href="#">{{.}}</a></li>
						{{/list}}
					</ul>
				</div>
			{{~/footmenu}}
		</div>
	</div><!-- //footMenu -->

	{{#footer}}
	<div class="footcontact bg-second">
		<div class="container">
			<p class="phone"><i class="fa fa-phone"></i>{{phone}}<p>
			<p class="email"><i class="fa fa-envelope-o"></i>{{email}}</p>	
		</div>
	</div><!-- //footcontact -->

	<div class="container">
		<div class="copyright">
	        <div class="wrapper">
	            <div class="col-sm-6">&copy;{{copy}}</div>
	            <div class="col-sm-6">{{{powered}}}</div>
	        </div>
	    </div><!-- //copyright -->
    </div>
	{{/footer}}
</footer> <!-- //FOOTER -->
