<div class="hero bg-secondry">
    <div class="container">
        {{#hero}}
            <figure class="hero-thumb"><img src="assets/img/vektor.png" alt=""></figure>
            <div class="hero-desc">
                <h2>{{{title}}}</h2>
                <div class="content-text"><p>{{desc}}</p></div>
                <p class="text-right"><a href="#" class="btn-square trans">{{btn}}</a></p>
            </div>
        {{/hero}}
    </div>
</div><!-- //Hero -->

<div id="main" role="main">
	
	<div class="mainsearch salinputwrap bg-base">
        <div class="container">
            <figure class="tipsSrc"><img src="assets/img/circle1.png" alt=""></figure>
            <form action="/SalaryRecords/addSalaryRecord" class="form-horizontal" id="form_sample_1" method="post" accept-charset="utf-8" novalidate="novalidate">
                <div class="src-group">
                    <div class="wrap-validation">
                        <div class="check-val">
                            <div class="input select required">
                               <select name="data[SalaryRecord][profession_id]" required="required" class="form-control required selectpicker select1 selectpicker" onchange="getprofessionrole();" tabindex="1" id="SalaryRecordProfessionId">
                                    <option value="">Your specialist area</option>
                                    <option value="1">Option 1</option>
                                    <option value="2">Option 2</option>
                                    <option value="3">Option 3</option>
                                    <option value="5">Option 4</option>
                                    <option value="4">Option 5</option>
                                  </select>
                            </div>
                        </div>
                    </div>
                </div>  <!-- //form-group --> 
                <div class="src-group">
                    <div class="wrap-validation">
                        <div class="check-val">
                            <select id="SalaryRecordProfessionRoleId" class="form-control selectpicker select1" name="data[SalaryRecord][profession_role_id]" >
                                <option value="">Your Current Rule</option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                                <option value="5">Option 4</option>
                                <option value="4">Option 5</option>
                            </select>
                        </div>
                    </div>
                </div><!-- //form-group --> 

                <div class="src-group">
                    <div class="wrap-validation">
                        <div class="check-val">
                            <input name="data[SalaryRecord][exact_job_title]" class="form-control"  placeholder=" Your exact job title " required="required" tabindex="3" type="text" id="SalaryRecordExactJobTitle">                        
                        </div>
                    </div>
                </div>

                <div class="src-group-btn">
                    <input type="submit" class="btn-square basedark" value="Next">
                </div>
            </form>      
        </div>
   	</div><!-- //mainsearch -->

    <section class="emreason">
            <div class="container">
                {{#whyus}}
                    <h2 class="title-md">{{{title}}}</h2>
                    <div class="row">
                        {{~#item}}
                            <article class="emreason-box col-sm-4">
                                <a href="#">
                                    <div class="inside">
                                        <figure><img src="assets/img/{{thumb}}"></figure>
                                        <h3>{{title}}</h3>
                                        <div class="content-text">
                                            <p>{{desc}}</p>
                                        </div>
                                    </div>
                                </a>
                            </article> <!-- //emreason-box -->
                        {{~/item}}
                    </div>
                {{/whyus}}
            </div>
    </section><!-- //emreason -->

    <div class="contribute bg-base">
        <h2 class="title-md">Already Contributed? Then why not...</h2>
        <section class="contrib-typeWrap">
            {{~#contribute}}
                <article class="contrib-type {{#is default false}}notDefault{{/is}} col-sm-6">
                    <div class="desc">
                        <h4 class="title-md">{{title}}</h4>
                        <div class="content-text">
                            <p>{{desc}}</p>
                        </div> 
                        <p class="text-right"><a href="#" class="btn-square trans">{{btn}}</a></p>
                    </div>
                </article><!-- //contrib-type -->
            {{~/contribute}}
        </section><!-- //contrib-typeWrap -->
    </div><!-- //contrib-text -->

    <div class="sshome-table bg-base ">
        <div class="container">
        {{#salaryTable}}
            <h2 class="title-md">{{title}}</h2>
            <figure class="tipsSrc-table"><img src="assets/img/circle2.png" alt=""></figure>
            <div class="table-responsive">
                <table class="table tb-contrib"> 
                    <tr>
                        <th>salary</th>
                        <th>job title</th>
                        <th>location</th>
                        <th>Job type</th>
                        <th>date added</th>
                        <th style="width: 14%"></th>
                    </tr>
                    <tr><td colspan="6" class="td-space"></td></tr>
                    {{~#list}}
                    <tr>
                        <td class="{{#is new true}}new{{/is}}">
                            <span class="tb-salary">{{salary}}</span>
                        </td>
                        <td>{{job}}</td>
                        <td>{{location}}</td>
                        <td>{{type}}</td>
                        <td>{{date}}</td>
                        <td><a href="#" class="btn-tbDetail">{{btn}}</a></td>
                    </tr>
                    <tr><td colspan="6" class="td-space"></td></tr>
                    {{~/list}}
                </table>
            </div>
            <div class="contrib-btn"><a href="#" class="btn-square trans">Contribute</a></div>
        {{/salaryTable}}
        </div>
    </div> <!-- //sshome-table -->

    <section class="mid-hero bg-grey">
        <div class="container">
            {{#midhero}}
                <figure class="midhero-thumb">
                    <img src="assets/img/{{thumb}}">
                </figure>
                <div class="desc">
                    <h5 class="title-md">{{title}}</h5>
                    <div class="content-text">
                        <p>{{desc}}</p>
                    </div>
                    <a href="#" class="btn-square trans">{{btn}}</a>
                </div>
            {{/midhero}}
        </div>
    </section><!-- //sc-intro -->

    <div class="ss-join bg-darken">
        <div class="container">
        <figure class="tipsSrc-join"><img src="assets/img/circle3.png" alt=""></figure>
        {{#signup}}
            <header>
                <h2 class="title-md">{{title}}</h2>
                <div class="content-text">
                 <p>{{desc}}</p>
                </div>
            </header>
            <div class="form-join">
                <form>
                  <div class="form-group col-md-4">
                    <input type="text" class="form-control" placeholder="First Name">
                  </div>
                  <div class="form-group col-md-4">
                    <input type="text" class="form-control" placeholder="Last Name">
                  </div>
                  <div class="form-group col-md-4">
                    <input type="email" class="form-control" placeholder="Valid email address">
                  </div>
                  <div class="clearfix"></div>
                  <div class="form-groupBtn">
                      <input type="submit" value="sign up" class="btn-square">
                  </div>
                </form>
            </div><!-- //form-join -->
        {{/signup}}
        </div>
    </div><!-- //ss-join -->

    <div class="ss-social">
        <div class="container">
            {{~#social}}
                <a href="#" class="{{class}}"><i class="{{icon}}"></i></a>
            {{~/social}}
        </div>
    </div>
</div> <!-- //MAIN -->
